{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
    <!--        urls.py에서 path설정한 후에 href에 추가 -->
            <a class='btn btn-default' href="{% url 'post_edit' pk=post.pk %}">
    <!--    a tag에 class로 btn선언한 이유: glyphicon을 button처럼 보이게 하려고        -->
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class='btn btn-default' href="{% url 'post_remove' pk=post.pk %}">
    <!--    a tag에 class로 btn선언한 이유: glyphicon을 button처럼 보이게 하려고        -->
              <span class="glyphicon glyphicon-trash"></span>
            </a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
<!--    절취선 tag : hr-->
    <hr>
<!-- a tag는 link인데, btn처럼 보이게 하려면 btn class 적용 -->
    <a class="btn btn-info" href="{% url 'add_comment_to_post' pk=post.pk %}">
        Add comment
    </a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comment here yet :(</p>
    {% endfor %}
{% endblock %}

