.page-header {
    margin-top: 0px;
    background-color: #5341FF ;
    padding: 10px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: 'Lobster', cursive;
}
.content {
    margin-left: 40px;
}
.post {
    margin-top: 10px;
    margin-bottom: 60px;
}
.date {
    color: #828282;
    font-size: 14px;
    margin-left: 20px;
}
.comment-count {
    margin-left: 18px;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    float: right;
    color: white;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 30px;
}
.save {
    float: right;
}
.login-form input.btn {
    margin-left: 350px;
}
.comment {
    margin: 20px 0px 20px 20px;
}